
<web-app >

  <welcome-file-list>
    <welcome-file>PaginaInicial</welcome-file>
  </welcome-file-list>
  
    <servlet>
      <servlet-name>LoginServlet</servlet-name>
      <servlet-class>LoginServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>LoginServlet</servlet-name>
      <url-pattern>/LoginServlet/*</url-pattern>
   </servlet-mapping>
  
   <servlet>
      <servlet-name>LogoutServlet</servlet-name>
      <servlet-class>LogoutServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>LogoutServlet</servlet-name>
      <url-pattern>/LogoutServlet/*</url-pattern>
   </servlet-mapping>  
   
        <servlet>
      <servlet-name>ConsultaArtigoAvaliado</servlet-name>
      <servlet-class>ConsultaArtigoAvaliado</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>ConsultaArtigoAvaliado</servlet-name>
      <url-pattern>/ConsultaArtigoAvaliado/*</url-pattern>
   </servlet-mapping>
  


    <servlet>
     <servlet-name>UploadServlet</servlet-name>
     <servlet-class>com.jsos.upload.UploadServlet</servlet-class>
      <init-param>
      	<param-name>config</param-name>
      	<param-value>upconf</param-value>
     </init-param>
    </servlet> 
    
    
	<servlet-mapping>
 	 <servlet-name>UploadServlet</servlet-name>
 	 <url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping> 

    <servlet>
      <servlet-name>SubmissaoServlet</servlet-name>
      <servlet-class>SubmissaoServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>SubmissaoServlet</servlet-name>
      <url-pattern>/SubmissaoServlet/*</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <servlet-name>CadastroServlet</servlet-name>
      <servlet-class>CadastroServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>CadastroServlet</servlet-name>
      <url-pattern>/CadastroServlet/*</url-pattern>
   </servlet-mapping>
   
  <servlet>
      <servlet-name>AvaliacaoServlet</servlet-name>
      <servlet-class>AvaliacaoServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>AvaliacaoServlet</servlet-name>
      <url-pattern>/AvaliacaoServlet/*</url-pattern>
   </servlet-mapping>
   
  <servlet>
      <servlet-name>ExcluirArtigoServlet</servlet-name>
      <servlet-class>ExcluirArtigoServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>ExcluirArtigoServlet</servlet-name>
      <url-pattern>/ExcluirArtigoServlet/*</url-pattern>
   </servlet-mapping>
   
  <servlet>
      <servlet-name>PaginaInicial</servlet-name>
      <servlet-class>PaginaInicial</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>PaginaInicial</servlet-name>
      <url-pattern>/PaginaInicial/*</url-pattern>
   </servlet-mapping>

  <servlet>
      <servlet-name>AlterarArtigoServlet</servlet-name>
      <servlet-class>AlterarArtigoServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>AlterarArtigoServlet</servlet-name>
      <url-pattern>/AlterarArtigoServlet/*</url-pattern>
   </servlet-mapping>

</web-app>


