
<web-app >

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
    <servlet>
      <servlet-name>EfetuaLogin</servlet-name>
      <servlet-class>EfetuaLogin</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>EfetuaLogin</servlet-name>
      <url-pattern>/EfetuaLogin/*</url-pattern>
   </servlet-mapping>
  
   <servlet>
      <servlet-name>EfetuaLogout</servlet-name>
      <servlet-class>EfetuaLogout</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>EfetuaLogout</servlet-name>
      <url-pattern>/EfetuaLogout/*</url-pattern>
   </servlet-mapping>  
  
  <servlet>
      <servlet-name>CarregaListaArtigos</servlet-name>
      <servlet-class>CarregaListaArtigos</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>CarregaListaArtigos</servlet-name>
      <url-pattern>/CarregaListaArtigos/*</url-pattern>
   </servlet-mapping>
   
     <servlet>
      <servlet-name>AvaliaArtigo</servlet-name>
      <servlet-class>AvaliaArtigo</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>AvaliaArtigo</servlet-name>
      <url-pattern>/AvaliaArtigo/*</url-pattern>
   </servlet-mapping>
   
        <servlet>
      <servlet-name>ConsultaArtigoAvaliado</servlet-name>
      <servlet-class>ConsultaArtigoAvaliado</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>ConsultaArtigoAvaliado</servlet-name>
      <url-pattern>/ConsultaArtigoAvaliado/*</url-pattern>
   </servlet-mapping>
  


    <servlet>
     <servlet-name>UploadServlet</servlet-name>
     <servlet-class>com.jsos.upload.UploadServlet</servlet-class>
      <init-param>
      	<param-name>config</param-name>
      	<param-value>upconf</param-value>
     </init-param>
    </servlet> 
    
    
	<servlet-mapping>
 	 <servlet-name>UploadServlet</servlet-name>
 	 <url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping> 

    <servlet>
      <servlet-name>SubmissaoServ</servlet-name>
      <servlet-class>SubmissaoServ</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>SubmissaoServ</servlet-name>
      <url-pattern>/SubmissaoServ/*</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <servlet-name>CarregaInicio</servlet-name>
      <servlet-class>CarregaInicio</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>CarregaInicio</servlet-name>
      <url-pattern>/CarregaInicio/*</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>CadastroServlet</servlet-name>
      <servlet-class>CadastroServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
  
   <servlet-mapping>
      <servlet-name>CadastroServlet</servlet-name>
      <url-pattern>/CadastroServlet/*</url-pattern>
   </servlet-mapping>

</web-app>


